*/config/development
*/logs/log-*.php
!*/logs/index.html
*/cache/*
!*/cache/index.html
!*/cache/.htaccess

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*

# CodeIgniter 3
application/logs/*
!application/logs/index.html
!application/logs/.htaccess

/.idea
.DS_Store
.idea
/.env.local
/application/cache/database.php
_BACKUP_840.env
_BASE_840.env
_LOCAL_840.env
_REMOTE_840.env
/vendor

