p{
	font-size: 14px;
}

body{

	background-color: #fbfbfb;
	background-repeat: no-repeat;
	background-size: cover;
}

.topo{
	margin-top: 50px;
}

.login{
	margin-top: 100px;
}

.login .form{
	margin: 0 auto;
	background: #f2f2f2;
	padding: 20px;
	border-radius: 5px;
}

#tblCompradoresPendentes{
	max-height: 300px;
	overflow-y: scroll;
}

.menu-sidebar{
	background: #ffffff;
}

.menu-sidebar li#brand{
	padding-right: 100px;
}
.menu-sidebar li{
	display: inline-block;
	list-style: none;
	padding: 10px 15px;
}

.menu-sidebar li a{
	color: #222222;
}

/* CARD PRODUTOS */

.card-prod{
	border: none;
	box-shadow: 4px 4px rgba(0,0,0,0.08);
}
